:root {
  --green-color: #009600;
  --blue-color: #0096ff;
  --red-color: #ff0000;
  --yellow-color: #ffdc00;
  --grey-color: #ebebeb;
  --black-color: #222;
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  padding-top: 10px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
  padding-top: 10px;
}

section>h2 {
  text-align: center;
}

h3 {
  font-size: 28px;
  color: #222;
  padding-top: 10px;
}

h4,
i {
  font-size: 20px;
  color: #222;
}

h5 {
  font-size: 14px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #363636;
  margin: 0;
}

.gap {
  gap: 14px;
}

section,
footer {
  padding: 70px 10%;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 799px) {

  h2 {
    font-size: 28px;
    line-height: 42px;
  }
}