:root {
  --green-color: #009600;
  --blue-color: #0096ff;
  --red-color: #ff0000;
  --yellow-color: #ffdc00;
  --grey-color: #ebebeb;
  --black-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--black-color);
  padding-top: 10px;
}

h2 {
  font-size: 35px;
  line-height: 54px;
  color: var(--black-color);
  padding-top: 10px;
  font-weight: 00;
}

section>h2 {
  text-align: center;
}

h3 {
  font-size: 28px;
  color: var(--black-color);
  padding-top: 10px;
}

h4,
i {
  font-size: 20px;
  color: var(--black-color);
}

h5 {
  font-size: 14px;
  color: var(--black-color);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #363636;
  margin: 0;
}

.gap {
  gap: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  background-color: rgba(255, 255, 255, 0.774);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  height: 100px;
  z-index: 10;
  position: sticky;
  top: 0;
}

header a {
  display: flex;
}

header img {
  width: 63px;
  height: auto;
}

section,
footer {
  padding: 45px 10%;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h2 {
  position: absolute;
  align-self: center;
  margin: 0;
  padding: 24px 21px 14px;
  background-color: #ffffff4f;
  backdrop-filter: blur(7px);
  border-radius: 14px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px 28px;
  flex-wrap: wrap;
  background-image: url(../IMG/banner/Mesa\ de\ trabajo\ 2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 35px 10%;
}

#feature .fe-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 14px;
  border-radius: 7px;
  background-color: #00000007;
  backdrop-filter: blur(7px);
}

#feature .fe-box h6 {
  width: fit-content;
  color: white;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 7px;
}

@media (max-width: 799px) {
  header {
    padding: 20px 30px;
  }

  header img {
    width: 50px;
  }

  header nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
    padding: 80px 0 0 14px;
    transition: 0.3s ease;
  }

  header nav.active {
    right: 0px;
  }


  header header nav li {
    margin-bottom: 25px;
  }

  h2 {
    font-size: 27px;
    line-height: 42px;
  }

  #feature .fe-box h6 {
    font-size: 14px;
  }
}