@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(./global.css);



.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s ease;
}



#title-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 21px 10%;
  background-color: #e8edff;
  height: 350px;
}

#title-page p {
  text-align: justify;
}

#hero {
  display: flex;
  justify-content: center;
  background-color: #e8edff;
  position: relative;
  padding: 0;
}

#hero>img:first-child {
  width: 100%;
  max-height: 410px;
  min-height: 350px;
  object-fit: cover;
  filter: opacity(0.9);

}

#hero img#logo-banner {
  position: absolute;
  min-width: 210px;
  max-width: 210px;
  align-self: center;
  filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.534));
}

#product1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#productsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#product1 .pro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 230px;
  height: 280px;
  padding: 14px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  border-radius: 14px;
  cursor: pointer;
  transition: ease 0.2s;
  position: relative;
  background-color: rgb(255, 255, 255);
  flex: 0 0 auto;
}

#product1 .pro:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.70);
}

#product1 .pro .des {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

#product1 .pro .des h5,
#product1 .pro .des h4 {
  font-size: 14px;
  color: var(--black-color);
}

#product1 .pro img {
  height: 140px;
  margin-bottom: 14px;
  padding: 14px;
}

#product1 .pro .star i {
  color: darkorange;
  font-size: 14px;
}

#product1 .pro .bi-cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  position: absolute;
  bottom: 14px;
  right: 14px;
  background-color: #00000018;

}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("https://t3.ftcdn.net/jpg/02/94/19/98/360_F_294199808_iVKkhLOnlSyGFnBXf15sFx9LEW6gF9en.jpg");
  width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box h4 {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
}

#sm-banner .banner-box h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner .banner-box span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
  gap: 35px;
}

footer img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--black-color);
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#close {
  display: none;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: .2s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -10;
}

#v-product {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  padding: 0 10%;
  backdrop-filter: blur(7px);
  z-index: 20;
  color: white;
  animation: backShadow 150ms ease-in-out;
}

@keyframes backShadow {
  from {
    background-color: #00000000;
    backdrop-filter: blur(0px);
  }

  to {
    background-color: #00000080;
    backdrop-filter: blur(7px);
  }
}

#v-product .bi-x-lg {
  display: flex;
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 21px;
  cursor: pointer;
  color: var(--black-color);
  padding: 7px;
  border-radius: 7px;
  background-color: var(--grey-color);

}

#v-product>div {
  border: solid 1px #00000018;
  background-color: white;
  padding: 70px 35px;
  border-radius: 7px;
  width: 90%;
  max-width: 700px;
  gap: 21px;
  position: relative;
  filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.534));
  height: 400px;
  animation: openInfo 150ms ease-in-out;
}

@keyframes openInfo {
  from {
    opacity: 0;
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#v-product img {
  min-width: 35%;
  height: 100%;
  background-color: rgba(102, 51, 153, 0);
  object-fit: contain;
}

#v-product>div>div {
  align-items: start;
}

#v-product>div>div h2 {
  text-align: left;
}

#v-product>div>div>div {
  gap: 21px;
}

#v-product #btn-buy {
  background-color: #009600;
  font-size: 14px;
  border-radius: 7px;
  padding: 14px 21px;
  color: white;
}

#v-product #btn-buy i {
  color: white;
}


#v-product #btn-buy i {
  font-size: 21px;
  padding-right: 7px;
}


/* TRAYECTORIA */
#path {
  gap: 7px;
  /* height: 500px; */
}

#path>div {
  height: 340px;
  width: 100%;
  overflow-y: auto;
  justify-content: start;
  gap: 28px;
  padding: 14px 0;
  scroll-snap-type: y mandatory;
}

#path>div>div {
  width: 100%;
  gap: 14px;
  justify-content: flex-start;
  scroll-snap-align: center;
  animation: nudge-y 14s ease-in-out 3s infinite;
}

#path>div>div h4 {
  width: 10%;
  min-width: 70px;
}

#path>div>div>div {
  gap: 14px;
  justify-content: flex-start;
  width: fit-content;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 14px;
}

#path img {
  flex: 0 0 auto;
  width: 310px;
  height: 310px;
  border-radius: 14px;
  scroll-snap-align: center;
  object-fit: cover;
  animation: nudge-x 7s ease-in-out infinite;
}

/* MODAL DE IMAGEN TRAYECTORIA */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal img {
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 90%;
  border-radius: 14px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
}

.hidden {
  display: none;
}


/* INFINITY SLIDER HERO*/

.carousel-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: fit-content;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
  max-height: 410px;
  min-height: 350px;
}

.carousel-item img {
  width: 100%;
  max-height: 410px;
  min-height: 350px;
  object-fit: cover;
  filter: opacity(0.9);
}

#testimonials {
  background-color: #e9f6ff;
}


/* SLIDER TESTIMONIALS */
#testimonials .slider {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin-top: 21px;
}

.slider .slider-item:not(.slider-item:first-child) {
  display: none;
}

.slider-item {
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 300px;
  padding: 21px;
  max-width: 900px;
  align-items: flex-start;
  border-radius: 28px;
}

.slider-item iframe {
  max-width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.slider-item .details {
  align-items: baseline;
  padding: 0px 14px;
  gap: 7px;
}

#testimonials .arrows {
  gap: 28px;
  margin-top: 14px;
}

#testimonials .arrows button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  color: var(--black-color);
  font-weight: 800;
  font-size: 14px;
  padding-top: 3px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}




@media (max-width: 799px) {
  #mobile {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  #mobile i {
    font-size: 21px;
  }

  #close {
    position: absolute;
    display: initial;
    top: 30px;
    left: 14px;
    color: var(--black-color);
    font-size: 21px;
  }


  footer {
    justify-content: space-between;
  }

  #blog {
    padding: 100px 10%;
  }

  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  #hero img#logo-banner {
    max-width: 210px;
  }

  #v-product>div {
    height: auto;
    max-height: 520px;
    width: 100%;
    flex-direction: column;
    padding: 10%;
    gap: 7px;

  }

  #v-product>div>div {
    gap: 7px;
  }

  #v-product>div p {
    width: 100%;
    max-height: 140px;
    margin: 0;
    overflow-y: auto;
  }

  #v-product img {
    width: 100%;
    height: 35%;
  }

  #testimonials .slider-item {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  #testimonials .slider-item .details {
    padding: 14px 0px;
  }

  #testimonials .slider-item iframe {
    width: 100%;
    height: auto;
    border-radius: 14px;
  }

  #testimonials .slider-item .details p {
    overflow-y: auto;
  }

  #product1 .pro {
    scroll-snap-align: center;
    animation: nudge-x 7s ease-in-out infinite;
  }

  #product1 .pro-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 21px;
    overflow-x: auto;
    padding: 14px 50px;
    scroll-snap-type: x mandatory;
  }

  #path>div {
    height: 360px;
  }

  #path>div>div {
    flex-direction: column;
    text-align: center;
    gap: 7px;
  }

  #path>div>div>div {
    width: 100%;
  }

  .modal img {
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
  }
}