@import url(./style.css);

.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}

svg {
  width: 30px;
}

#preheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.icon-cart {
  position: fixed;
  bottom: 21px;
  right: 21px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  border-radius: 100px;
  padding: 14px;
}

.icon-cart span {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.877);
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -7px;
  padding-top: 4px;
}

.listProduct {
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.listProduct .item {
  width: 230px;
  height: 280px;
  text-align: center;
  padding: 14px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  border-radius: 14px;
}

.listProduct .item img {
  height: 140px;
  padding: 14px;
}

.listProduct .item .product-name {
  font-size: 14px;
  color: #222;
  margin: 7px 0;
}

.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}

.listProduct .item button {
  background-color: #009600;
  color: #eee;
  border: none;
  padding: 7px 14px;
  border-radius: 7px;
  cursor: pointer;
}

/* cart */
.cartTab {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #ffffff;
  color: #222;
  position: fixed;
  top: 100px;
  right: -400px;
  bottom: 0;
  transition: .5s;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
}

body.showCart .cartTab {
  right: 0;
}

body.showCart .container {
  transform: translateX(-250px);
}

.cartTab h2 {
  padding: 24px 14px 14px;
  padding-left: 14px;
}

.cartTab .btn {
  display: flex;
  margin-top: auto;
  width: 100%;
}

.cartTab button {
  color: #222;
  border: none;
  font-weight: 500;
  cursor: pointer;
  width: 50%;
  height: 70px;
  font-size: 21px;
  font-weight: 700;
}

.cartTab .close {
  color: var(--red-color);
}

.listCart .item div.image {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.listCart .item img {
  height: 50px;
  margin: 0 14px;
  padding: 7px;
}

.listCart .item {
  display: grid;
  grid-template-columns: 70px 110px 100px 1fr;
  gap: 10px;
  text-align: left;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 14px;
}

.listCart .quantity span {
  display: inline-block;
  width: 18px;
  height: 25px;
  border-radius: 50%;
  color: #222;
  cursor: pointer;
  padding-top: 3px;
  font-size: 18px;
  font-weight: 500;

}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #222;
  cursor: auto;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

.item .flex-row {
  position: relative;
  width: 100%;
  margin-top: 7px;
}

.item .flex-row i {
  position: absolute;
  right: 0;
  color: var(--blue-color);
  cursor: pointer;
}

.cart-total {
  padding: 7px;
  font-size: 20px;
  padding-left: 14px;
}

@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}